@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #00adb5;
  --secondary-color: #aad8d3;
  --light-color: #eeeeee;
  --dark-color: #393e46;
  --darker-color: #282c31;
  --primary-darker-color: #001c1e;
  --gray-color: #bcbcbc;
  --dark-secondary-color: #2f2e41;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

header,
.dropdown {
  z-index: 100;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 32px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  width: 325px;
}

.left img {
  width: 135px;
  height: 25.17px;
}

.left a {
  display: none;
  color: var(--dark-color);
}

.left ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.left ul li {
  list-style: none;
  padding: 0 5px;
}

.left ul li a {
  text-decoration: none;
  color: var(--dark-color);
}

.dropdown {
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  background-color: #f1f1f1;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  top: 60px;
}

.dropdown ul li {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
}

.dropdown a {
  text-decoration: none;
  color: #777777;
  font-size: 18px;
}

.dropdown ul li a:hover {
  color: #2b2b2b;
  border-bottom: 2px solid var(--dark-color);
}

.log-out-link a {
  color: rgb(211, 118, 118);
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  border-right: none;
  padding: 5px 15px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  outline: none;
}

.searchTerm:focus {
  color: var(--dark-color);
}

.searchButton {
  border: none;
  text-align: center;
  color: var(--gray-color);
  background-color: #f1f1f1;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
  padding-right: 10px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  width: 275px;
  margin-right: 50px;
}

.right button {
  border: 2px solid var(--gray-color);
  background-color: white;
  border-radius: 5px;
  padding: 3px 25px;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.right button:hover {
  background-color: rgb(247, 247, 247);
  transition: 0.3s;
}

.user {
  display: flex;
  align-items: center;
}

.user button {
  border: none;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  padding: 5px 15px;
}

.user button:hover {
    background-color: #f1f1f1;
}

@media (max-width: 1150px) {
  .left img {
    display: none;
  }

  .left a {
    display: block;
  }

  .user p {
    display: none;
  }

  .right a {
    display: none;
  }

  .wrap {
    position: absolute;
    left: 31%;
  }
}

@media (max-width: 500px) {
  .right button {
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 8px;
    transition: 0.3s;
    margin-left: 30px;
  }

  header {
    padding: 30px 15spx;
  }

  .searchTerm {
    font-size: 10px;
  }
}


/* FOOTER */

.footer {
  margin-top: 200px;
  bottom: 0;
  width: 100%;
}

.footer-container,
.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a1c25;
}

.footer-container {
  margin-top: 50px;
}

.footer-nav {
  padding-top: 25px;
  width: 80%;
  border-bottom: 1px solid rgb(51, 56, 71, 0.5);
}

.footer-container img {
  width: 150px;
}

.footer-container nav ul {
  display: flex;
  padding: 15px 0;
}

.footer-container ul li {
  list-style: none;
  padding: 0 10px;
}

.footer-container li a {
  text-decoration: none;
  color: var(--light-color);
}

.copyright {
  width: 80%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  color: rgba(250, 250, 250, 0.5);
  font-size: 13px;
}

.social-media a {
  padding: 0 3px;
}

.social-media a i {
  padding: 5px;
  border-radius: 100%;
  background-color: #2f2e41;
  color: var(--light-color);
}

@media (max-width: 420px) {
  .footer-container {
    padding-bottom: 15px;
  }

  .footer-container nav ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-container ul li {
    padding: 15px 0;
  }

  .copyright {
    flex-direction: column;
  }
}