
.card-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.card-container h1 {
  font-size: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  color: var(--dark-color);
}

.card-container button {
  margin-top: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px 15px;
  outline: none;
  color: orange;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

.card-container button:hover {
  transition: 0.3s;
  background-color: orange;
  color: white;
}

.card-container .sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  border-bottom: 1px solid black;
  width: 80vw;
  margin-bottom: 15px;
}

.sort-content {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(241, 241, 241);
  padding: 5px 20px;
  border-radius: 20px 20px 0 0;
}

.sort .text {
  margin: 0;
  margin-right: 35px;
  padding: 0;
}
.sort .form {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.grid > article {
  background-color: rgb(248, 248, 248);
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 275px;
  transition: 0.3s;
}

.grid > article:hover {
  transform: translateY(3px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.grid > article img{
  object-fit: cover;
  width: 275px;
  height: 120px;
  border-radius: 20px;
}

.grid > article .room-id{
  margin-top: -120px;
  z-index: 999;
}

.grid > article .bg-shadow {
  margin-top: -75px;
  margin-bottom: 50px;
}

.bg-shadow h1 {
  font-size: 18px;
  margin: 0;
  max-height: 20px;
}

.bg-shadow h1, .bg-shadow p {
  color: white;
}

.img-container p {
  font-size: 12px;
  padding: 15px;
  margin: 0;
  color: rgb(255, 255, 255);
}

.creator-container {
  display: flex;
  justify-content: space-between;
}

.creator-container .creator h3 {
  font-size: 12px;
  line-height: 0.1;
}
.creator-container .creator p {
  font-size: 12px;
}

.text {
  padding: 0 10px 10px;
}

.text h3 {
  color: var(--dark-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 0.5;
}

.text p {
  font-size: 14px;
  
}

.text .description {
  overflow-y: scroll;
  height: 45px;
  min-height: 45px;
  max-height: 45px;
}

.text button {
  margin: 0;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  color: var(--light-color);
  padding: 10px;
  width: 100%;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.notfound {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid > article {
  width: 200px;
  }

  .grid > article img{
  width: 200px;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid > article {
  width: 150px;
  }

  .grid > article img{
  width: 150px;
  }
}
@media (max-width: 350px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid > article {
  width: 250px;
  }

  .grid > article img{
  width: 250px;
  }
}