
.profile-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 450px;
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  display: none;
  background-color: #fff;
}

.close-btn a i {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 5px 6px;
  border-radius: 50%;
  color: var(--light-color);
  background-color: tomato;
  border: 1px solid var(--dark-color);
}

.close-btn a i:hover {
  background-color: rgb(230, 70, 42);
}

.profile-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.profile-nav {
  border-right: 1px solid var(--dark-color);
}

.profile-nav ul li {
  list-style: none;
  padding: 0 50px 0 5px;
}

.profile-nav ul li a {
  text-decoration: none;
  color: var(--dark-color);
  line-height: 2;
}

.active {
  background-color: gainsboro;
}

.profile-nav ul li:hover {
  background-color: rgb(182, 182, 182);
}

.profile-container .profile-nav ul li.logout a {
  color: rgb(201, 70, 70);
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: var(--primary-color);
}

.user-name h4, .user-name p {
  margin: 0;  
  height: 0;
  text-align: center;
}



.profile-picture {
  background-image: url("../img/profile-picture.png");
  width: 244px;
  height: 244px;
  border-radius: 50%;
}

.user-info button {
  border: none;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 15px;
}

.user-info button:hover {
  background-color: #f1f1f1;
}

.user-info {
  border: 1px solid var(--gray-color);
  padding: 0 15px 15px 15px;
  border-radius: 10px;
}

.bottom {
  width: 500px;
  border: 1px solid var(--gray-color);
  padding: 15px 15px;
  border-radius: 10px;
}

.other-info h4 {
  margin: 0;
  padding: 0;
}

.other-info input{
  width: 100%;
  outline: none;
  border: none;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.about-button {
  border: none;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 10px;
  float: right;
}

.bookmarks-content {
  display: none;
}
.bookmarks-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  overflow-y: scroll;
  height: 400px;
}

.bookmarks-card {
  margin: 0;
  padding: 0;
  margin: 10px;
}

.bookmarks-card .banner {
    background-image: url("../../assets/img/card-banner.png");
    width: 258px;
    height: 120px;
    border-radius: 20px;
}

.banner p {
  font-size: 12px;
  padding: 15px;
  margin: 0;
  color: white;
}

.delete {
  margin-top: 15px;
  padding: 5px 20px;
    border: 2px solid tomato;
    background-color: #fff;
    border-radius: 5px;
    color: tomato;
    transition: 0.3s;
}

.delete:hover {
    background-color: tomato;
    color: #fff;
    transition: 0.3s;
}
.avatar{
  width: 256px;
  height: 256px;
  border-radius: 50%;
}