
.profile-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--dark-color);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  display: none;
  background-color: #fff;
  z-index: 9999;
}

.close-btn a i {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 5px 6px;
  border-radius: 50%;
  color: var(--light-color);
  background-color: tomato;
  border: 1px solid var(--dark-color);
}

.close-btn a i:hover {
  background-color: rgb(230, 70, 42);
}

.profile-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.profile-nav {
  border-right: 1px solid var(--dark-color);
}

.profile-nav ul li {
  list-style: none;
  padding: 0 50px 0 5px;
}

.profile-nav ul li a {
  text-decoration: none;
  color: var(--dark-color);
  line-height: 2;
  display: block;
  width: 200%;
}

.active {
  background-color: gainsboro;
}

.profile-nav ul li:hover {
  background-color: rgb(182, 182, 182);
}

.profile-container .profile-nav ul li.logout a {
  color: rgb(201, 70, 70);
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: var(--primary-color);
}

.user-name h4, .user-name p {
  margin: 0;  
  height: 0;
  text-align: center;
}



.profile-picture {
  background-image: url("../img/profile-picture.png");
  width: 244px;
  height: 244px;
  border-radius: 50%;
}

.user-info button {
  border: none;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
}

.user-info button:hover {
  background-color: #f1f1f1;
}

.user-info {
  border: 1px solid var(--gray-color);
  padding: 0 15px 15px 15px;
  border-radius: 10px;
  height: 100%;
}

.bottom {
  border: 1px solid var(--gray-color);
  padding: 15px 15px;
  padding-right: 10px;
  border-radius: 10px;
}

.other-info h4 {
  margin: 0;
  padding: 0;
}

.other-info input{
  width: 100%;
  outline: none;
  border: none;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.about-button {
  border: none;
  text-align: center;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px;
  margin-top: 22px;
  margin-bottom: 15px;
  float: right;
  cursor: pointer;
}

.avatar{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.profile-content{
  margin-left: 15px;
  margin-right: 15px;
}

#history{
display: none;
overflow-y: scroll;
height: 461px;
margin-bottom: 16px;
}

#history article img {
width: 200px;
grid-area: overlap;
border-radius: 20px 20px 0px 0px;
height: inherit;
}

#history article {
width: 200px;
margin: 5px;
}

.history-grid {
margin: 15px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
}

.history-grid>article {
background-color: rgb(248, 248, 248);
border: none;
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
border-radius: 20px;
width: 275px;
transition: 0.3s;
z-index: 99999;
}

.history-grid>article:hover {
transform: translateY(5px);
box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
transition: 0.3s;
}

.history-grid>article img {
object-fit: cover;
width: 275px;
height: 120px;
border-radius: 20px;
}

.history-grid>article .room-id {
z-index: 999;
}

.img-container p {
font-size: 12px;
padding: 15px;
margin: 0;
color: rgb(255, 255, 255);
}

.img-container h1 {
    color: white;
    text-align: center;
    margin-block-start: 1.5em;
    margin-block-end: 0;
}

.img-container .bg-shadow p {
    text-align: center;
    padding: 5px;
}

.history-card{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas: "overlap";
height: 90px;
}

.history-card .room-id{
grid-area: overlap;
}

.history-card .bg-shadow{
grid-area: overlap;
}

.history-text button{
border-radius: 0px 0px 20px 20px;
}

.history-text {
padding: 0;
}

.history-text button {
margin: 0;
background-color: var(--primary-color);
border-radius: 0px 0px 20px 20px;
border: none;
color: var(--light-color);
padding: 10px;
width: 100%;
font-weight: 600;
font-family: "Poppins", sans-serif;
text-transform: uppercase;
cursor: pointer;
}

.history-text button:hover {
transition: 0.3s;
background-color: orange;
color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 900px) {
  .history-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .profile-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .profile-nav {
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }

  .profile-nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1px;
  }

  .profile-nav ul li {
    padding: 0;
  }

  .profile-nav ul li:hover {
  background-color: #fff;
  }
}

@media (max-width: 500px) {
  .history-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-container {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .top {
    flex-direction: column;
  }

  #history {
    height: 500px;
  }
}

@media (max-width: 400px) {
  .profile-container {
    width: 250px;
  }
}
#time{
  display: flex;
  justify-content: flex-end;
}