@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #00adb5;
  --secondary-color: #aad8d3;
  --light-color: #eeeeee;
  --dark-color: #393e46;
  --darker-color: #282c31;
  --primary-darker-color: #001c1e;
  --gray-color: #bcbcbc;
  --dark-secondary-color: #2f2e41;
}

html,
body {
  overflow-x: initial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.icon,
.bar1,
.bar2,
.bar3 {
  display: none;
}

header {
  display: flex;
  padding: 15px 10%;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  padding: 0;
}

header nav ul li {
  font-size: 18px;
  list-style-type: none;
  padding: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
}

.button .login {
  background-color: var(--primary-color);
  padding: 10px 40px;
  color: var(--light-color);
  border-radius: 5px;
}

.button {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button a {
  text-decoration: none;
  color: var(--dark-color);
  padding: 5px;
  margin: 0 15px;
}

.vector {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  line-height: 0;
}

.vector .img1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.vector .img2 {
  position: absolute;
  top: 100px;
  right: 650px;
  z-index: -1;
  transition: 1s ease-in-out;
}
.vector .img3 {
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: -1;
  transition: 1s ease-in-out;
}

.get-started a {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 10px 50px;
  color: var(--light-color);
  border-radius: 5px;
}

.title {
  padding: 235px 10% 300px;
}

.title img {
  width: 30vw;
}

.title p {
  color: var(--dark-color);
  padding: 50px 0 50px;
  font-size: 18px;
}

.info {
  padding: 0 10%;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--light-color);
}

.info .info-container {
  display: flex;
  justify-content: space-around;
}

.info-container .item {
  margin-top: 75px;
  padding: 15px;
  width: 400px;
  height: 300px;
}

.info-container .item h2 {
  font-size: 32px;
  line-height: 0.5;
  font-weight: 500;
}

.features {
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-list h2 {
  font-size: 18px;
  line-height: 0.5;
}
.f-list p {
  font-size: 14px;
}

.features.more {
  padding: 50px 10% 50px 10%;
}

.f-text {
  width: 500px;
  padding-top: 200px;
  line-height: 1;
}

.f-text a {
  text-decoration: none;
  color: var(--primary-color);
  line-height: 5;
}

.f-text a:hover {
  color: var(--dark-color);
}

.cta .bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  width: 78vw;
}

.cta-container {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.cta-text h2 {
  color: var(--light-color);
  font-size: 2vw;
  line-height: 1.3;
}

.cta-container img {
  width: 19vw;
  padding: 0 50px;
}

.cta-text {
  padding: 0 50px;
}

.cta-text button {
  border: none;
  text-decoration: none;
  padding: 10px 60px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: var(--light-color);
  background-color: var(--dark-color);
  transition: 0.3s ease-in-out;
}

.cta-text button:hover {
  background-color: var(--darker-color);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  padding-top: 100px;
}

.contact-form {
  position: relative;
  width: 500px;
  height: 100%;
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h1 {
  font-size: 64px;
  color: var(--dark-color);
}

.contact-form input,
select,
textarea {
  width: 40%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  outline: none;
  border: none;
  background-color: #eeeeee;
}

.contact-form textarea {
  width: 350px;
  height: 150px;
  padding: 10px 20px 10px 10px;
}

.contact-form button {
  margin-left: 15%;
  width: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  margin-top: 200px;
  width: 100%;
}

.footer-container,
.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a1c25;
}

.footer-container {
  margin-top: 50px;
}

.footer-nav {
  padding-top: 25px;
  width: 80%;
  border-bottom: 1px solid rgb(51, 56, 71, 0.5);
}

.footer-container img {
  width: 150px;
}

.footer-container nav ul {
  display: flex;
  padding: 15px 0;
}

.footer-container ul li {
  list-style: none;
  padding: 0 10px;
}

.footer-container li a {
  text-decoration: none;
  color: var(--light-color);
}

.copyright {
  width: 80%;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  color: rgba(250, 250, 250, 0.5);
  font-size: 13px;
}

.social-media a {
  padding: 0 3px;
}

.social-media a i {
  padding: 5px;
  border-radius: 100%;
  background-color: #2f2e41;
  color: var(--light-color);
}
.avatar-mini{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media (max-width: 420px) {
  .footer-container {
    padding-bottom: 15px;
  }

  .footer-container nav ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-container ul li {
    padding: 15px 0;
  }

  .copyright {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1900px) {
  .vector .img2 {
    height: 300px;
    transition: 1s ease-in-out;
  }
  .vector .img3 {
    height: 600px;
    top: 200px;
    right: 100px;
    transition: 1s ease-in-out;
  }
}

@media only screen and (max-width: 1600px) {
  .vector .img2 {
    height: 200px;
    transition: 1s ease-in-out;
  }
  .vector .img3 {
    height: 500px;
    top: 200px;
    right: 100px;
    transition: 1s ease-in-out;
  }

  div.info .info-container {
    justify-content: space-between;
  }

  .info-container .item h2{
    font-size: 24px;
  
  }
}

@media only screen and (max-width: 1400px) {
  .vector .img3 {
    height: 400px;
    top: 300px;
    right: 100px;
    transition: 1s ease-in-out;
  }
}

@media only screen and (max-width: 1200px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .features.inverted {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-container img {
    display: none;
  }

  .contact-container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact-form input{
    width: 350px;
  }

  .title {
    padding: 200px 0;
    margin: 0;
  }

  .title img {
  width: 60vw;
}

  .vector .img2 {
    display: none;
  }

  .vector .img3 {
    display: none;
  }

  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 1050px) {
  .info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .f-text p {
    font-size: 3vw;
  }

  .features.inverted .vector.top {
    width: 80vw;
  }
  .features.more .vector.top {
    width: 80vw;
  }
  .features.inverted.right .vector.top {
    width: 80vw;
  }

  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    width: 25vh;
  }

  .cta {
    display: none;
  }

  .info-container .item {
    width: 80vw;
  }

  .info-container .item h2 {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 600px) {
  .hero .title {
    font-size: 12px;
  }

  .features .f-text{
    width: 300px;
  }

    .contact-form h1 {
    font-size: 48px;
  }
}


@media only screen and (max-width: 1000px) {
  header a img {
    width: 32px;
  }

  .button {
    display: none;
  }

  .topnav {
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    width: 80vw;
    height: 40px;
    z-index: 999;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: var(--dark-color);
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    color: black;
  }

  header nav {
    background-color: var(--light-color);
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 70px;
  }

  header nav ul li:hover {
    width: 1000%;
    background-color: #e0e0e0;
  }
  header nav ul li a {
    width: 1000%;
  }

  div.get-started#mobile {
    display: block;
  }

  .get-started {
    display: none;
  }
}

.get-started#mobile {
  display: none;
}